<div class="reservations-container">
    <mat-card *ngFor="let reservation of reservations" class="reservation-card">
      <mat-card-title>{{reservation.service?.name}}</mat-card-title>
      <mat-card-subtitle>{{reservation.service?.location?.city}} ({{reservation.service?.location?.address}})</mat-card-subtitle>
      <mat-card-content class="reservation-card-info">
        <div>Date: {{reservation.dateStart.split("T")[0]}}</div>
        <div>Time: {{reservation.timeSlot}}</div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="onCancel(reservation)">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </div>
  