.reservations-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
  .reservation-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
  }
  
  .reservation-card-info{
    padding: 0.5em;
  }
  
  // Add more styles as needed
  