:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

p{
    flex: 1 1 0;
    padding-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
mat-card {
    width: 400px;
}
mat-card-title {
    margin-top: 0.5em;
    color: white;
    margin-bottom: 0.5em;
}
mat-card-title,mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    width: fit-content;
    text-align: center;
    padding: 8px 8px;
    margin: auto;
    color: white;
    background-color: red;

}

.button {
    display: flex;
    align-self: flex-end;

}

