<mat-card>
    <mat-card-title>REGISTER</mat-card-title>
    <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <p>
        <mat-form-field>
            <input type="text" matInput placeholder="E-mail" formControlName="mailAddress">
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        </p>
        <p *ngIf="submitted && mailAddress.errors?.['required']" class="error">
            E-mail is a required field.
        </p>
        <p *ngIf="submitted && username.errors?.['required']" class="error">
            Username is a required field.
        </p>
        <p *ngIf="submitted && password.errors?.['required']" class="error">
            Password is a required field.
        </p>
        <p *ngIf="submitted && mailAddress.errors?.['email']" class="error">
            E-mail must be in correct format!
        </p>
        <p *ngIf="submitted && (username.errors?.['minlength'] || username.errors?.['maxlength'])" class="error">
            Username has a minimal length of 4 and a maximum length of 16!
        </p>
        <p *ngIf="submitted && (password.errors?.['minlength'] || password.errors?.['maxlength'])" class="error">
            Password has a minimal length of 8 and a maximum length of 32!
        </p>
        <p *ngIf="failed" class="error">
            {{failedMessage}}
        </p>
        <div class="button">
        <button type="submit" mat-button>Register</button>
        </div>
    </form>
    </mat-card-content>
</mat-card>