<mat-card>
    <mat-card-title>REGISTER</mat-card-title>
    <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <p>
            <mat-form-field>
                <input type="text" [errorStateMatcher]="errorStateMatcher" matInput placeholder="E-mail" formControlName="mailAddress">
                <mat-error>E-mail must have a proper format!</mat-error>
            </mat-form-field>
        <p>
            <mat-form-field>
                <input type="text" [errorStateMatcher]="errorStateMatcher" matInput placeholder="Username" formControlName="username">
                <mat-error>Username is a required field with a minimum length of 4</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input type="password" [errorStateMatcher]="errorStateMatcher" matInput placeholder="Password" formControlName="password">
                <mat-error>Password is a required field with a minimum length of 8</mat-error>
            </mat-form-field>
        </p>
        <p *ngIf="failed" class="error">
            {{failedMessage}}
        </p>
        <div class="button">
        <button type="submit" mat-button>Register</button>
        </div>
    </form>
    </mat-card-content>
</mat-card>