<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="navbar-title">Reservation project</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="navbar-container">
    <mat-nav-list class="navbar-left">
      <button mat-button
        (click)="router.navigate(['home'])"><mat-icon>home</mat-icon>Home</button>
    </mat-nav-list>
    <mat-nav-list class="navbar-right">
      <button mat-button
        *ngIf="authService.isAuthenticatedFn()" class="navbar-item" [matMenuTriggerFor]="notificationMenu">
        <mat-icon>inbox</mat-icon>Notifications <span *ngIf="notifications">({{notifications.length}})</span>
        <mat-menu class="navbar-notifications-menu" #notificationMenu>
            <button *ngIf="notifications && notifications.length != 0" class="notifications-read-all" (click)="setAllAsRead()" mat-raised-button color="primary">Read all</button>
            <mat-divider></mat-divider>
            <div class="navbar-notification" (click)="setAsRead(notification)" *ngFor="let notification of (notifications)">
              <div class="notification-date">[{{notification.timestamp}}]</div>
              <div class="notification-subject">[{{notification.subject}}]: </div>
              <div class="notification-content">{{notification.content}}</div>
              <mat-divider></mat-divider>
            </div>
        </mat-menu>
      </button>
      <button mat-button (click)="router.navigate(['manage-reservations'])"
        *ngIf="authService.isAuthenticatedFn()" class="navbar-item">
        <mat-icon>calendar_month</mat-icon>Manage reservations
      </button>
      <button mat-button (click)="router.navigate(['manage-services'])"
        *ngIf="authService.isAuthenticatedFn()" class="navbar-item">
        <mat-icon>home_repair_service</mat-icon>Manage services
      </button>
      <button mat-button (click)="router.navigate(['profile'])"
        *ngIf="(authService.isAuthenticated$ | async)" class="navbar-profile">
        <mat-icon>person</mat-icon>Profile
      </button>
      <button mat-button (click)="onLogout()"
        *ngIf="authService.isAuthenticatedFn()" class="navbar-item">
        <mat-icon>logout</mat-icon>Logout
      </button>
      <button mat-button (click)="onRegister()"
        *ngIf="!authService.isAuthenticatedFn()"
        class="navbar-item">
        Register
      </button>
      <button mat-button (click)="onLogin()"
        *ngIf="!authService.isAuthenticatedFn()"
        class="navbar-item">
        <mat-icon>login</mat-icon>Login
      </button>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>
