<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="navbar-title">Reservation project</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="navbar-container">
    <mat-nav-list class="navbar-left">
      <button mat-button
        (click)="router.navigate(['home'])"><mat-icon>home</mat-icon>Home</button>
    </mat-nav-list>
    <mat-nav-list class="navbar-right">
      <button mat-button (click)="router.navigate(['manage-reservations'])"
        *ngIf="authService.isAuthenticatedFn()" class="navbar-item">
        <mat-icon>calendar_month</mat-icon>Manage reservations
      </button>
      <button mat-button (click)="router.navigate(['manage-services'])"
        *ngIf="authService.isAuthenticatedFn()" class="navbar-item">
        <mat-icon>home_repair_service</mat-icon>Manage services
      </button>
      <button mat-button (click)="router.navigate(['profile'])"
        *ngIf="(authService.isAuthenticated$ | async)" class="navbar-profile">
        <mat-icon>person</mat-icon>Profile
      </button>
      <button mat-button (click)="onLogout()"
        *ngIf="authService.isAuthenticatedFn()" class="navbar-item">
        <mat-icon>logout</mat-icon>Logout
      </button>
      <button mat-button (click)="onRegister()"
        *ngIf="!authService.isAuthenticatedFn()"
        class="navbar-item">
        Register
      </button>
      <button mat-button (click)="onLogin()"
        *ngIf="!authService.isAuthenticatedFn()"
        class="navbar-item">
        <mat-icon>login</mat-icon>Login
      </button>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>
