
mat-nav-list.list-horizontal {
    padding: 0;
    display: flex;
    .mat-list-item {
        height: auto;
        width: auto;
}


}
.navbar-container {
    display: flex;
    justify-content: space-between;
}

// .navbar-right {
//     display: flex;
//     justify-content: space-evenly;
//     align-items: end;

// }
.navbar-right * {
    padding-left: 0.5em;
    text-align: center;
}
.navbar-title {
    cursor: default;
}
